*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    width:100%;
    display: flex;
    justify-content: center;
}
h1{
    width:100%;
    display: flex;
    justify-content:flex-end;
    font-size: 16px;
    padding: 10px;
    text-decoration: underline;
    color:brown;
}
form{
    width:60%;
    margin:20px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E7E7E9;
}
.container{
    display: flex;
    padding:8px;
}
.label{
    width: 20%;
}
.field{
    width:60%;
}
.field > *{
    width:100%;
    padding:5px;
}
.container select {
    width:20%;
    padding: 5px;
}
.checkbox-field{
    display: flex;
    flex-direction: column;
}
.checkbox-field > *{
    padding: 5px;
}
button{
    background-color: green;
    color:#ffffff;
    padding: 10px;
}