*{
    margin:0;
    padding:0;
    list-style-type: none;
    box-sizing: border-box;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../homework-medea/fonts/icomoon.eot?cw3tis');
    src:  url('../homework-medea/fonts/icomoon.eot?cw3tis#iefix') format('embedded-opentype'),
      url('../homework-medea/fonts/icomoon.ttf?cw3tis') format('truetype'),
      url('../homework-medea/fonts/icomoon.woff?cw3tis') format('woff'),
      url('../homework-medea/fonts/icomoon.svg?cw3tis#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
  .icon-copyright:before {
    content: "\e900";
  }
  
header{
    width:100%;
    height:240px;
    background-color: #444565;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    width:14%;
    height: 170px;
    background-image: url(../my-website/images/logo.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    font-size: 100px;
    color:#ffffff;
    font-style: italic;
}
main{
    width:100%;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 20%;
}
nav ul li a{
    font-size: 20px;
    color: #6D3716;
    text-decoration: none;
}
nav ul li{
    padding: 20px 20px;
    border-bottom: 2px dotted #6D3716;
}
nav p{
    font-size: 14px;
    padding: 20px 20px;
    text-align: justify;
}
article{
    width: 76%;
    padding: 20px 20px;
    text-align: justify;
}
h3{
    font-size: 34px;
    padding: 20px 0px;
}
article p{
    font-size: 18px;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #6D3716;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    font-size: 14px;
    color:#ffffff;
}